body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
  color: #000;
  font-family: 'Montserrat';
  overflow-x: hidden;
}

p {
    font-size: 1.4em;
}

h2 {
    font-size: 2.4em;
}

@media (max-width: 988px){
  #title {
    text-align: center;
    right: auto;
  }
  .title-image{
    display: none;
  }
}

@media (min-width: 988px){
    .navbar-brand{
      display: none;
    }
    .header-image-col {
        top: 73px;
    }
    .header-image-col, .title-image-col{
        right: 200px !important;
    }
}

#intro {

}

#title {
  background-size: cover;
  width: 100%;
  background-image: linear-gradient(to right, #005082 , #00a8cc);
}

.header-table {
    padding-top: 100px;
    padding-bottom: 100px;
}

#about-section {
    border:0;
    width: 100%;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.main-about {
    font-size: 1.6em;
}

.about-project {
    padding-bottom: 25px;
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.about-table {
    table-layout: fixed;
    text-align: center;
    border-spacing: 10px;
    border-collapse: separate;
}

td {
    padding: 10px;
}

.about-us {
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.about {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 60px;
}

#timeline-top {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    background-image: linear-gradient(to right, #005082 , #00a8cc);
    height: 7em;
    text-align: center;
    display: table;
}

#timeline-top-h1 {
    vertical-align: middle;
    padding: auto;
    display: table-cell;
}

.container-fluid{
  padding: 3% 15%;
}


/* Navbar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar a {
    color: #000 !important;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar-brand {
  width: 40px;
}

.navbar-brand-name {
    font-size: 1.7em;
    font-style: font-family: 'Ubuntu', 'Montserrat', sans-serif;
}

/* Title */

.title-container {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  position: absolute;
  width: 100px;
  right: 0;
}

.header-image-col, .title-image-col{
    right: auto;
}

.dropdown-item {
    background-color: transparent;
}

.dropdown-menu {
    background-color: transparent;
    border-width: 0;
}

.dropdown-item:hover {
    background-color: transparent;
}

#timeline-nav-toggler-button {
    margin-left: 25px;
}

/* .divider {
    background-image: linear-gradient(to right, #005082 , #00a8cc);
    height: 100px;
} */
