body, html {
    padding: 0;
    margin: 0;
}

body {
  color: #000;
  font-family: 'Montserrat';
  overflow-x: hidden;
}

p {
    font-size: 1.4em;
}

h2 {
    font-size: 2.4em;
}

@keyframes shake {
  30% { transform: translate(-2px, 0); }
  60% { transform: translate(2px, 0); }
  90% { transform: translate(-1px, 0px); }
}

@media (max-width: 988px){
  #title {
    text-align: center;
    right: auto;
  }
  .title-image{
    display: none;
  }
  .timeline-nav-header{
      padding-top: 10px;
  }
}

@media (min-width: 988px){
    .navbar-brand{
      display: none;
    }
    .header-image-col {
        top: 73px;
    }
    .header-image-col, .title-image-col{
        right: 200px !important;
    }
}

#intro {

}

#title {
  background-size: cover;
  width: 100%;
  background-image: linear-gradient(to right, #005082 , #00a8cc);
}

.header-table {
    padding-top: 100px;
    padding-bottom: 100px;
}

#about-section {
    border:0;
    width: 100%;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.main-about {
    font-size: 1.6em;
}

.about-project {
    padding-bottom: 25px;
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.about-table {
    table-layout: fixed;
    text-align: center;
    border-spacing: 10px;
    border-collapse: separate;
}

td {
    padding: 10px;
}

.about-us {
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.about {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 60px;
}

#timeline-top {
    min-height: 60px;
    width: 100%;
    margin: 0;
    padding-top: 70px;
}

.container-fluid{
  padding: 3% 15%;
}


/* Navbar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar a {
    color: #000 !important;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar-brand {
  width: 40px;
}

.navbar-brand-name {
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
}

/* Title */

.title-container {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  position: absolute;
  width: 100px;
  right: 0;
}

.header-image-col, .title-image-col{
    right: auto;
}

.dropdown-item {
    background-color: transparent;
}

.dropdown-menu {
    background-color: transparent;
    border-width: 0;
}

.dropdown-item:hover {
    background-color: transparent;
}

.container-whole {
    position: relative;
    z-index: 0;
}

#timeline-nav-div {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(to right, #005082 , #00a8cc);
    text-align: center;
    display: table;
    z-index: 4;
    height: 30px;
    line-height: 100px;
}

#input_date, #input_year, #input_month {
    border: 1;
    border-color: black;
    background-color: transparent;
    max-width: 4em;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

.timeline-nav-search-func {
    padding-top: 20px;
    padding-right: 20px;
    width: auto;
}

.timeline-nav {
    padding: 0;
}

.timeline-nav-header {
    padding-left: 60px;
    padding-right: 30px;
}

.scroll-top {
    margin: 0;
    padding: 0;
}

.animate-shake {
    animation: shake .4s;
    animation-iteration-count: 1;
}

.disabled {

}
/* .divider {
    background-image: linear-gradient(to right, #005082 , #00a8cc);
    height: 100px;
} */
